<%- include('./layout/header.ejs') %>
<%- include('./layout/navbar.ejs') %>



<div class="container pt-4">
  <center><h1 class="p-4 mt-5">Good day Alumnus</h1></center>

  <div class="container">
    <center>
      <a class="btn btn-primary" href="">Company Profile</a>
      <a class="btn btn-success" href="/profile">Personal Information</a>
      <a class="btn btn-warning" href="">Job-hiring</a>
  </center>
  </div>
</div>


</body>

</html>