<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CCSIT Alumni Tracer</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="stylesheets/bootstrap.css">
    <script src="javascripts/bootstrap-javascript.js"></script>

    <!-- Custom CSS -->
    <link rel="stylesheet" href="stylesheets/style.css">

    <!-- Custom JS -->
    <script src="javascripts/app.js" type="module"></script>

    <!-- Sweet Alert2 -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.14.1/dist/sweetalert2.all.min.js"></script>
</head>
<body>
    